.article
{
    overflow: hidden;
    margin-left: 7%;
    margin-right: 7%;
    &__partie1
    {
        display: flex;
        flex-direction: column;
        border-bottom: black 1px solid ;
        &__descriptionPhoto
        {
            display: flex;
            align-items: flex-end;
            flex-direction: row;
            gap: 2%;
            &__description, &__photo
            {
                width: 50%;
            }
            &__description
            {
                border-bottom: black 1px solid ;
                padding-bottom: 2%;
                p 
                {
                    font-family: 'Space Mono', sans-serif;
                    font-weight: 400;
                    font-size: 14px;
                }
                &--titre
                {
                    font-family: 'Space Mono', sans-serif;
                    text-transform: uppercase;
                    font-style: italic;
                    width: 50%;
                }
                a 
                {
                    text-decoration: none;
                }
            }
            &__photo
            {
                figure 
                {
                    margin: 0;
                }
            }
        }
        &__interaction
        {
            height: 118px;
            display: flex;
            flex-direction: row;
            &__contact, &__pagination
            {
                width: 50% ;
                height: auto;
            }
            &__contact
            {
                display: flex;
                flex-direction: row;
                align-items: center;
                p 
                {
                    font-size: 14px;
                    font-weight: 300;
                    width: 50%;
                }
                #article__partie1__interaction__contact--bouton
                {
                    background-color: $couleurBouton;
                    width: 50%;
                    font-size: 12px;
                    font-weight: 400;
                    color: $couleurPrincipalePolice;
                    a 
                    {
                        text-decoration: none;
                    }
                    &:hover
                    {
                        background-color: black;
                        color: white;
                    }
                }
            }
            &__pagination
            {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: flex-end;
                gap: 5%;
                &--suivant
                {
                    text-align: end;
                }
                &--precedent--miniaturePagination, &--suivant--miniaturePagination
                {
                    height: 71px;
                    width: 81px;
                }
            }
        }
    }
    &__partie2 
    {
        align-items: center;
        h3
        {
            font-size: 18px ;
            font-family: 'Space Mono' ;
            font-weight: 400;
            text-transform: uppercase;
            padding: 2% 0 4% 1%;
        }
        &__photosSimilaires
        {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            gap: 70px 20px;
            justify-content: center;
            &--miniatures
            {
                width: 564px;
                height: 495px; 
                object-fit: cover;
            }
        }
    }
}
