.article
{
    overflow: hidden;
    margin-left: 7%;
    margin-right: 7%;
    &__partie1
    {
        display: flex;
        flex-direction: column;
        &__descriptionPhoto
        {
            display: flex;
            align-items: flex-end;
            flex-direction: row;
            &__description, &__photo
            {
                width: 50%;
            }
            &__description
            {
                p 
                {
                    font-family: 'Space Mono', sans-serif;
                    font-weight: 400;
                    font-size: 14px;
                }
                &--titre
                {
                    font-family: 'Space Mono', sans-serif;
                    text-transform: uppercase;
                    font-style: italic;
                    width: 50%;
                }
                a 
                {
                    text-decoration: none;
                }
            }
            &__photo
            {
                figure 
                {
                    margin: 0;
                }
                img
                {
                    height: 100vh !important;
                    width: auto !important;
                    margin: 0 !important;
                }
            }
        }
        &__interaction
        {
            height: 118px;
            display: flex;
            flex-direction: row;
            &__contact, &__pagination
            {
                width: 50% ;
                height: auto;
            }
            &__contact
            {
                display: flex;
                flex-direction: row;
                align-items: center;
                p 
                {
                    font-size: 14px;
                    font-weight: 300;
                    width: 50%;
                }
                #article__partie1__interaction__contact--bouton
                {
                    background-color: $couleurBouton;
                    width: 50%;
                    font-size: 12px;
                    font-weight: 400;
                    color: $couleurPrincipalePolice;
                    a 
                    {
                        text-decoration: none;
                    }
                    &:hover
                    {
                        background-color: black;
                        color: white;
                    }
                }
            }
            &__pagination
            {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: flex-end;
                gap: 5%;
                &--suivant
                {
                    text-align: end;
                }
                &--precedent--miniaturePagination, &--suivant--miniaturePagination
                {
                    height: 71px;
                    width: 81px;
                }
            }
        }
    }
}
