/*début : couleurs du site*/
$couleurPrincipaleFormulaire:#E00000;
$couleurSecondaireFormulaire:#FE5858;
$couleurTerciaireFormulaire:#FFD6D6;
$couleurPrincipalePolice:#000000;
$couleurPrincipalePoliceBouton:#313144;
$grisFoncé: #C4C4C4;
$couleurBouton: #D8D8D8;
$grisClair: #E5E5E5; 
/*début : couleurs du site*/