/*début : paramètres générales*/
*
{
    margin: 0;
    padding: 0;
}

h1, h2, h3, a
{
    font-family: 'Space Mono', sans-serif;
}
p
{
    font-family: 'Poppins', sans-serif;
}
/*fin : paramètres générales*/