@charset "UTF-8";
/*début : chargement des polices*/
@import url("https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");
/*fin : chargement des polices*/
/*début : intégration des fichiers scss*/
/*début : couleurs du site*/
/*début : couleurs du site*/
.formulaire {
  visibility: hidden;
  width: 100%;
  z-index: 1000;
  position: fixed;
  top: 0;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}
.formulaire__content {
  background-color: #FFF;
  border: 5px solid #000000;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0%);
  animation-duration: 3s;
  width: 50%;
  zoom: 0.9;
  top: 0;
  bottom: 0;
}
.formulaire__content--header {
  height: 98px;
  background-image: url("../assets/Contact.png");
}
.formulaire__content--body {
  padding-left: 25%;
  padding-right: 25%;
  padding-top: 5%;
}
.formulaire__content--body label {
  color: #313144;
  font-size: 12px;
  font-family: "Poppins", sans-serif;
}
.formulaire__content--body input, .formulaire__content--body textarea {
  padding: 10px !important;
  border: 1px solid #B8BBC2 !important;
  border-radius: 8px !important;
}
.formulaire__content--body #boutonEnvoyer {
  width: 100%;
  background-color: #D8D8D8;
  color: #000000;
  border-radius: 2px;
  text-transform: none;
}

#archive_header {
  display: flex;
  margin: 0;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
#archive_header .archive__header--hero {
  width: 100vw;
  max-height: 966px;
  -o-object-fit: cover;
     object-fit: cover;
}
#archive_header h1 {
  position: absolute;
  font-family: "Space Mono", sans-serif;
  font-size: 96px;
  font-weight: 700;
  font-style: italic;
  line-height: 142px;
  color: transparent;
  -webkit-text-stroke: 3px white;
}

.archive__body {
  margin-left: 7%;
  margin-right: 7%;
}
.archive__body__filtres {
  display: flex;
  gap: 5%;
  height: 42px;
}
.archive__body__filtres__selection {
  flex: 1;
  border: 1.3px solid #b8bbc2;
  border-radius: 8px;
  font-family: "Poppins", sans-serif;
  font-size: 12px;
  font-weight: 500;
}
.archive__body__photos {
  margin-top: 4%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 70px 20px;
}
.archive__body__photos article {
  width: 50%;
  width: 564px;
  height: 495px;
}
.archive__body__photos article header {
  margin: 0;
  padding-bottom: 0;
}
.archive__body__photos article header h2 {
  display: none;
}
.archive__body__photos article header figure {
  margin: 0;
}
.archive__body__photos article header figure img {
  width: 564px !important;
  height: 495px !important;
  margin: 0 !important;
  -o-object-fit: cover !important;
     object-fit: cover !important;
}

/*fin : importation des fichiers scss*/
/*début : paramètres générales*/
*, #main {
  margin: 0;
  padding: 0;
}

h1, h2, h3, .descrsptionsPhotos, a {
  font-family: "Space Mono", sans-serif;
}

p {
  font-family: "Poppins", sans-serif;
}

/*fin : paramètres générales*/
/*début : header*/
#masthead {
  padding: 0;
}

#menuPrincipal {
  justify-content: space-around;
  width: 50vw;
  padding: 0;
  display: flex;
}
#menuPrincipal li {
  list-style: none;
}
#menuPrincipal a {
  font-family: "Space Mono", sans-serif;
  color: #000000;
  font-weight: 400;
  font-size: 16px;
  text-decoration: none;
}
#menuPrincipal a:focus {
  background-color: transparent;
}

/*fin : header*/
/*début : footer*/
#site-footer {
  display: none;
}

#colophon {
  border-top: 1px solid #000000;
  margin: 0;
  padding: 0;
  width: 100vw;
}
#colophon nav {
  margin: 0;
}
#colophon li > a {
  color: #000000;
  font-weight: 400;
  font-size: 16px;
  text-transform: uppercase;
  text-decoration: none;
}
#colophon form {
  margin: 0;
}

.footer-top {
  justify-content: center;
}

.footer-nav-widgets-wrapper {
  border: none;
}

/*fin : footer*//*# sourceMappingURL=theme.css.map */